# dependencies
node_modules

# builds
dist
dist-ssr
dist-electron/
release/
android/
electron/dist/
*.local

# env (Echte Keys nie committen!)
.env
.env.local
.env.*.local

# logs / editor
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json

# opencode
.opencode/
